.logo{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}

.profielfoto{
    display: flex;
    float: right;
    margin-right: -20px;
    margin-top: 30px;
}

body{
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1em;
    margin-right: 1em;
    background-image: url(/Users/rutgercruijs/Desktop/project_1_rutger_fuchsia/images/screenshot_voor_achtergrond.png);
}

h1{
    text-align: center;
    font-weight: bold;
    color: white;
}

.introtext{
    text-align: left;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border-style: groove;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.eerste_keer{
    text-align: right;
    color: white;
}

.onderzoek{
    text-align: left;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    padding: 0%;
    
}

.link_1{
    color: #DCC0A3;
    text-decoration: none;
    background-color: black;
    padding: 27px;
    font-weight: bold;
    opacity: 0.7;
}

.link_2{
    color: #DCC0A3;
    text-decoration: none;
    background-color: black;
    padding: 27px;
    font-weight: bold;
    opacity: 0.7;
}

.link_3{
    color: #DCC0A3;
    text-decoration: none;
    background-color: black;
    padding: 27px;
    font-weight: bold;
    opacity: 0.7;
}

.link_4{
    color: #DCC0A3;
    text-decoration: none;
    background-color: black;
    padding: 27px;
    font-weight: bold;
    opacity: 0.7;
}

.link_home{
    text-decoration: none;
}

a:focus{
    color: black;
}

.duurzaamheid{
    text-align: left;
    color: white;
}

.woonboten{
    text-align: right;
    color: white;
}

.werkruimtes{
    text-align: left;
    color: white;
}

.slim{
    text-align: right;
    color: white;
}

.cultureel{
    text-align: left;
    color: white;
}

.toegankelijk{
    text-align: right;
    color: white;
}

.eerder{
    text-align: left;
    color: white;
}

.idee{
    text-align: right;
    color: white;
}

.geweldig{
    text-align: left;
    color: white;
}

.hout{
    text-align: right;
    color: white;
}

.hoop{
    text-align: left;
    color: white;
}

nav{
    position: fixed;
    bottom: 5%;
    left: 0%;
    width: 100%;
}

.lege_ruimte{
    margin: 100px;
}

.editie{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    padding-left: 140px;
    margin: -15px;
}

.boot{
    width: 375px;
    max-width: 120%;
    height: auto;
    border-radius: 20px;
}

.paden_prul{
    width: 375px;
    margin-left: -56px;
    height: auto;
    border-radius: 20px;
}

.boef{
    width: 375px;
    height: auto;
    border-radius: 20px;
    margin-left: -56px;
}

.lampjes{
    width: 375px;
    margin-left: -56px;
    height: auto;
    border-radius: 20px;
}

.ingang{
    width: 375px;
    margin-left: -56px;
    height: auto;
    border-radius: 20px;
}